[2020-10-28 10:33] sondrelg opened #5 "Final checks"
Before releasing v1 we need to

- [x] Update readmes with version number
- [x] Test the implementation example in a real project

[2020-10-29 15:43] #5 closed

[2020-11-04 16:54] NicklasTegner opened #9 "Error on windows"
Hi.
I am running a workflow, that runs on Mac and Windows.
Mac works perfectly fine.
But on Windows I get the following error:

Error: Process completed with exit code 1.

[2020-11-04 19:09] sondrelg commented on #9
Hi @NicklasTegner, thanks for submitting the issue.

I'm going to take a look at this tonight and get back to you 👍

[2020-11-05 16:06] NicklasTegner commented on #9
hi @sondrelg

Just to add, here's my configuration (that triggered the error)

    - name: Install Poetry
      uses: snok/install-poetry@v1.0.0
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true
        virtualenvs-path: .venv

[2020-11-05 18:23] sondrelg commented on #9
Thanks! Figured out how to make it run on Windows - just trying to clean up the implementation now and then I'll release a new version shortly 🚀

[2020-11-05 18:53] NicklasTegner commented on #9
nice!
Do let me know when the new version is out 👍

[2020-11-08 12:17] sondrelg commented on #9
Hey @NicklasTegner,

Just released `v1.1.0`, and Windows should now work.

Make sure to use:

[code]

(the path setting you've used is not necessary since the default `in-project` path should be .venv)

and then you will need to set the default shell like this, at the job level:

[code]

I've added a section dedicated to running this action in windows in the updated readme, [here](https://github.c

[2020-11-08 16:12] NicklasTegner commented on #9
hi @sondrelg

I just tried with the updated version, and I get the following now:

[code]

And my config is as follows:

Globally:
[code]

And in my Windows job:

[code]

[2020-11-09 08:20] sondrelg commented on #9
Yes I see you're right. Must have changed something last minute, because my tests were passing and now they're not 🤔

I'll take another look at it today after work and get back to you! Thanks for the feedback.

[2020-11-09 09:42] sondrelg commented on #9
When you get the opportunity, could you try using `snok/install-poetry@v1.1.1rcN`?

Version `1.1.1rcN` is the pre-release for what I believe fixes the issue.

The issue seems to have been that the built-in Github Actions variable `${{ github.action_path }}` doesn't work correctly on Windows. I had made a pre-release yesterday and tested remotely on `ubuntu-latest` runners, and I had also tested on

[2020-11-09 16:21] NicklasTegner commented on #9
Hi.
I see that v1.1.1rcN is here on the page, but my workflow seems unable to find download information for it:

`Failed` to resolve action download info. Error: Unable to resolve action `snok/install-poetry@vv1.1.1rcN`, unable to find version `vv1.1.1rcN`

[2020-11-09 17:27] sondrelg commented on #9
I think you might have included one "v" too many. Try `snok/install-poetry@v1.1.1rcN` :)

[2020-11-09 18:10] NicklasTegner commented on #9
It's working now, but my problem is, that my Windows job now fails at the end, at the "Complete job" step.
No output, but on the overview I get

[code]

This error came, after I set the shell to be bash. Any suggestions?
PS: Also still need to verify that caching work, will do that while I try to fix the above error.

[2020-11-09 18:54] sondrelg commented on #9
Is your workflow closed source? It might be easier to help if you could link me the full code.

If it is, perhaps this example can help you: https://github.com/snok/django-swagger-tester/blob/upgrade-action/.github/workflows/testing.yml

This is the branch of another repository that I've used to test an ubuntu/windows matrix on the current pre-release.

[2020-11-09 19:22] NicklasTegner commented on #9
yes, the repository is closed, but if you want you are welcome to take a look at my workflow configuration here: https://gist.github.com/06a177cdeaa2946be83077c2f0f4352b

[2020-11-11 23:10] sondrelg commented on #9
Sorry for the late response, but my best bet is that one of your other commands will need to be adapted to the shell type. I've finally been able to test this properly, and I thought I would share the workflow I've run.

[code]

and [here](https://github.com/snok/django-swagger-tester/actions/runs/358646431) is a link to the workflow run in case it could be helpful.

I believe with the changes mad

[2020-11-11 23:10] #9 closed

[2021-01-21 11:01] ChristianMichelsen opened #17 "Basic Example. Bad interpreter: No such file or directory."
Hi snok!

I have with succes used your template earlier, but now I run into trouble. Due to trouble finding the bug, I went back to your basic script, only to find that this also caused a problem. I am very new to Github Actions, so it might just be me who is missing something vert basic. I have taken you basic example and changed a few things; that it should run on push (for testing), use Python

[2021-01-21 11:04] sondrelg commented on #17
Strange 🤔

Is this from a public repo? If so, would you link the run itself?

If not, could you also include the output from the `install poetry` step?

------

I'll see if I can replicate the error after work 👍

[2021-01-21 11:07] sondrelg commented on #17
Have you tried invalidating the cache btw? You might just need to update your `key` to `*-2` or whatever to invalidate the existing cache and rebuild your venv.

[2021-01-21 12:29] ChristianMichelsen commented on #17
The run itself kan be seen [here](https://github.com/ChristianMichelsen/metadamage/runs/1741211890?check_suite_focus=true) or here as an image:

![Screenshot 2021-01-21 at 13 27 30](https://user-images.githubusercontent.com/38658417/105351227-911df080-5bec-11eb-827f-ea6162ebd060.png)

Regarding you second suggestion, do you just mean changing `key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lo

[2021-01-21 12:31] JonasKs commented on #17
Yes, you can see an example [here](https://github.com/snok/django-guid/blob/master/.github/workflows/test.yml#L61).

[2021-01-21 13:02] sondrelg commented on #17
You could also test like this to verify

[code]

I.e., by removing the cache step.

I'm not sure this is why you're having problems, but as you can see in your original run, the `Install dependencies` isn't running. Your job is re-using the venv it cached in another run.

[2021-01-21 13:58] ChristianMichelsen commented on #17
Invalidating the cache worked - thanks a lot @sondrelg !

[2021-01-21 13:58] #17 closed

[2021-01-24 14:35] amotl opened #18 "`poetry install` stalls on Windows with warm cache"
Dear Sondre,

thanks a stack for conceiving this excellent GitHub Action.

We already pinged you within https://github.com/earthobservations/wetterdienst/pull/328 yesterday, where @gutzbenj was about to switch from `Gr1N/setup-poetry` to `snok/install-poetry`. However, he was still struggling with it so he was about to move on to `abatilo/actions-poetry` already.

Now that I've recognized that you

[2021-01-24 14:45] sondrelg commented on #18
Hi Andreas!

I remember having the same issue when setting up the action, and I don't think I ever managed to solve it. It's a very weird issue, and stalled workflows are very hard to debug 😅

In other words, I don't really know why the cache stalls the workflow, unfortunately.

If you manage to get it working with another workflow, please let me know; and if you don't I could maybe have another g

[2021-01-24 14:51] amotl opened #19 "Rethink recommendation about conditionally running `poetry install`"
Dear Sondre,

thanks for conceiving and maintaining this excellent package. Apart from #18, we have been able to ramp it up quickly by following the recommendations within the documentation, which are great.

However, there is one specific detail I would like to solicit attention for.

Your suggestion to only run `poetry install` conditionally like
[code]

might fall short because `poetry install`

[2021-01-24 15:06] amotl commented on #18
Hi Sondre,

thanks for confirming our observations. I took the chance to have a short glimpse at Poetry's issue tracker and found those items to be related to indefinite hangs/stalls/freezes:

- https://github.com/python-poetry/poetry/issues/2094
- https://github.com/python-poetry/poetry/issues/3132
- https://github.com/python-poetry/poetry/issues/3200
- https://github.com/python-poetry/poetry/iss

[2021-01-24 15:27] sondrelg commented on #19
Great point @amotl, I agree 👏  I'll change this shortly

[2021-01-24 15:35] sondrelg commented on #18
I'll have a look at this, thanks!

Just in case this is useful to you - have you considered trying to drop the cache step from just the Windows run? Not sure that's something you'd want to do as a temporary workaround.

Without checking I can't be sure it possible either, but perhaps something like this could work:

[code]

[2021-01-24 16:17] #19 closed

[2021-01-24 16:17] sondrelg commented on #19
Thanks again Andreas :)

[2021-01-24 16:33] amotl commented on #18
We had everything working perfectly since months and our endeavor right now was **actually about** making Poetry environment caching also work on Windows, which didn't happen before. Apparently, this is a holy grail ;].

After adding https://github.com/earthobservations/wetterdienst/commit/6d4b13f, the process just freezes one step before. So, when touching a Poetry environment after it had been r

[2021-01-24 16:40] sondrelg commented on #18
That's interesting, so perhaps caching the wheels is a better approach for Windows.

I've re-triggered the problem here https://github.com/snok/install-poetry/runs/1757673921?check_suite_focus=true and things are starting to come back to me 😅  Debugging a process with no output is tricky.

I'll try a few combinations of caching, and hopefully we'll be able to find something that works 🤞

[2021-01-24 19:05] amotl commented on #19
Thanks Sondre, that was quick!

[2021-01-24 19:10] amotl commented on #18
Hi again,

I just wanted to inform you about https://github.com/actions/cache/issues/175, which I summarized at https://github.com/earthobservations/wetterdienst/issues/332.

@webknjaz and @pradyunsg added valuable comments at https://github.com/actions/cache/issues/175#issuecomment-636704469 ff. why only pip's wheel cache should be cached between subsequent invocations and that neither `site-pack

[2021-01-24 23:15] sondrelg commented on #18
After reading all the issues and reflecting a little I think I will add a dedicated section to the `README` informing about the stalling that happens when you attempt to cache your `venv` on Windows, and point to caching your pip wheels as an alternative option. I was thinking about maybe making a full blown example with `if`s conditionally caching one way on UNIX, and another on Windows, but I th

[2021-01-24 23:15] #18 closed

[2021-04-16 12:53] peterbe opened #29 "v1.1.3 broken caching of virtualenv"
Our use case is as follows:
[code]
But when we got [upgraded to version v1.1.3](https://github.com/mdn/content/pull/4155) it broke things.

[code]
Full run here: https://github.com/mdn/content/runs/2359767214?check_suite_focus=true

We've never had this problem with v1.1.2 before.

The `poetry install` takes 10 seconds so it was nice to be able to cache it.

[2021-04-16 13:27] sondrelg commented on #29
Thanks for the report @peterbe!

I'll see if I'm able to replicate this later today if I can. In the meantime, could you try to invalidate your cache by changing this line:

[code]

to this:

[code]

and running it twice more?

[2021-04-16 13:58] peterbe commented on #29
That's a great idea! It could manually type the version of the action in there.

[2021-04-16 15:57] #29 closed

[2021-04-16 20:24] ewjoachim opened #30 "Overwriting main.sh"
I might be completely wrong, and if so, I'm very sorry for the noise, but prior to running this action I was skimming through the source code, and realized that if someone happens to have a `main.sh` (or a `get-poetry.sh` but that more uncommon) file at the root of their repository, this action was likely going to overwrite the scripts, then delete them, and break things (albeit just in the CI run

[2021-04-16 22:25] sondrelg commented on #30
On reviewing the script, I agree that's probably true haha😊

Would you be interested in creating a fix?

[2021-04-16 22:47] ewjoachim commented on #30
I'm in the middle of something else and I'd like to avoid entering a new rabbit hole at the moment. On the top of my head, I'd say:
[code]
(and same for main.sh)

[2021-04-17 20:55] sondrelg commented on #30
After a lot of trial and error (because of github actions' terrible debug logging and comments in the yaml not working) I've ended up with more or less exactly what you proposed.

Feel free to take a look [here](https://github.com/snok/install-poetry/pull/31/files) if you have time, and I'll probably merge this tomorrow at some point 👏

[2021-04-18 11:36] sondrelg commented on #30
Thanks again @ewjoachim 😊

[2021-04-18 11:36] #30 closed

[2021-06-08 10:24] olkuksa opened #36 "syntax error near unexpected token `newline'"
Run snok/install-poetry@v1.1.6
  with:
    virtualenvs-create: true
    virtualenvs-in-project: true
    version: 1.1.6
    virtualenvs-path: {cache-dir}/virtualenvs
  env:
    pythonLocation: /opt/hostedtoolcache/Python/3.8.10/x64
    LD_LIBRARY_PATH: /opt/hostedtoolcache/Python/3.8.10/x64/lib
/tmp/tmp.TEydkfsscF9p: line 2: syntax error near unexpected token `newline'
/tmp/tmp.TEydkfsscF9p: line

[2021-06-08 10:50] olkuksa commented on #36
Probably https://techcrunch.com/2021/06/08/numerous-popular-websites-are-facing-an-outage/

[2021-06-08 11:02] JonasKs commented on #36
Probably yes, CDNs are down. Even GitHub struggles to load CSS atm.

https://downdetector.com/
https://status.fastly.com/

[2021-06-08 12:05] JonasKs commented on #36
Could you try again now? Issues seem to have been resolved.

[2021-06-08 12:23] olkuksa commented on #36
Resolved

[2021-06-08 12:23] #36 closed

[2021-07-02 00:30] linkous8 opened #39 "Add input for POETRY_HOME"
Hi snok

I'm working on a project which caches the poetry installation to speed up our test runs. We recently updated from 1.1.4 to 1.1.6 but the new installation location is not ideal for caching as it would it would be caching the contents of the entire ~/.local directory when we would prefer to cache only the poetry installation

It would be great if the path value used for poetry home could be

[2021-07-02 07:04] sondrelg commented on #39
A PR for this is very welcome 👏   Thanks @linkous8

[2021-07-02 21:46] linkous8 commented on #39
Unfortunately, implementing this was not as straight forward as I thought it would be, the tests are all blowing up when run in my local repo: https://github.com/linkous8/install-poetry/actions/runs/994929613

Do you have any recommendations where I might be going wrong? If not, I can close out the PR to remove the needless clutter

[2021-07-02 22:26] sondrelg commented on #39
Do they pass if you undo the changes? Or do they possibly fail because you're running the tests in a fork? 🙂

To give you some context: The reason I ended up setting the `POETRY_HOME` variable was because the Github action runners are inconsistent. If I remember correctly mac runners sometimes use `~/.local` and sometime uses `~/Library/Application`.

I can take a better look at it tomorrow if tha

[2021-07-02 22:30] sondrelg commented on #39
Might be a good idea to comment out most of the tests when experimenting btw 🙂 I usually just keep one or two until I get it to work then comment the rest back in - otherwise it takes forever

[2021-07-02 22:36] sondrelg commented on #39
In the final test run it looks like the condition isn't working

[code]

Looks like it's just setting "default"

[2021-07-08 16:55] linkous8 commented on #39
Right, I have a conditional to set the path variable but its not working correctly for some reason:

https://github.com/snok/install-poetry/pull/40/files#diff-61368e2b75f4523e4d83149b45fae042b666e423a7d6455784a0a3519351064eR37

[2021-07-08 23:41] miigotu commented on #39
@linkous8 why not make the default an empty string?

[code]

[code]

[2021-07-09 08:27] sondrelg commented on #39
That seems sensible 🙂

Would this make sense @miigotu

[code]

Or does the second `path="$HOME/.local/"` have a purpose?

[2021-07-09 08:52] miigotu commented on #39
Opps that was a typo lol, editing that.

[2021-07-13 09:51] frank-fischer-by opened #41 "Action versioning not following GitHub recommendations"
GitHub Actions has [_recommendations_ on how to handle releases via tagging](https://docs.github.com/en/actions/creating-actions/about-actions#using-tags-for-release-management):

It would be great if this repository adapts the suggested recommendations 🙂.

That way every user could simply do

[code]

in their GitHub action and will always get the latest 1.X.Y version.

[2021-07-13 10:01] sondrelg commented on #41
Can you not do this today?

[code]

If so, am I reading this correctly - that we would just need to `git tag` each new release with v1 to move the v1 reference?

I would love to do this, as it would save us having to update patch versions in the readme every time we update something haha 🙂  Do you think this would be something we could automate with a workflow triggered by a release in the repo?

[2021-07-13 10:41] sondrelg commented on #41
Seems like a nice way to handle it 👏

Perhaps we don't even need a separate action - [this](https://github.com/pre-commit/mirrors-mypy/blob/master/.github/workflows/main.yml#L20) seems to have ~all the code we need.

Would you be interested in trying to implement it? If not I'll try to get this done within a day or two 👍

[2021-07-13 21:06] sondrelg commented on #41
You'll need to help me out here @frank-fischer-by @JonasKs; how does this look? 🙂

https://github.com/snok/install-poetry/blob/main/.github/workflows/tag_release.yml

[2021-07-14 11:48] JonasKs commented on #41
Looks good to me, but I guess that action don't really scale if you need a `v2`.
Maybe check `github.event.ref` and get the first two letters, and release to that version? So if a `v2.2` is pushed, it push to `v2` and not `v1`?

[2021-07-14 13:02] miigotu commented on #41
v2 ends up being the highest versioned of v2, so if you have a v2.3.4 and a v2.4, v2.4 is pointed to by v2 tag, as well as the v2.2 tag. v2.3.4 would still be tagged as v2.3.4 and v2.3

[2021-07-14 13:36] sondrelg commented on #41
Yep I think this sounds like the desired behaviour. In other words, someone who has specified

[code]

will always be on the latest version of v2 👍

[2021-07-14 15:16] frank-fischer-by commented on #41
Sorry, currently have a lot on my plate, so I simply didn't get around to creating the PR.
The functionality generally looks great. I just ran a workflow and tested that

[code]
correctly pulls `1.1.6` ❤️

As @JonasKs pointed out, that code is not 100% future proof, once `v2` would roll around, so maybe add

[code]

Concerning the discussion around (other) tags, that's not really defined by GitHub

[2021-07-14 15:43] sondrelg commented on #41
I suppose we could tag major _and_ minor versions if we wanted 🤔

[2021-07-14 18:18] sondrelg commented on #41
Quickly tested in a separate repo: https://github.com/sondrelg/test-tagging/runs/3069653365?check_suite_focus=true

I believe this workflow should do the trick
[code]

Where `get_version.py` can be kept in the repo and looks like this

[code]

Does that seem like a reasonable solution?

[2021-07-14 18:19] sondrelg commented on #41
If the ref doesn't follow the correct format the script will throw an `IndexError` and exit out, which seems like the right thing to do

[2021-07-16 07:12] #41 closed

[2021-07-26 20:03] peterbe opened #43 "How can we speed up this workflow?"
We use something like this:

[code]

It works great! I'm really happy about the workflow and it's been solid.

There's just one problem, the...

[code]

...lines are usually the slowest part of our whole workflow.
[For example](https://github.com/mdn/content/runs/3165067066?check_suite_focus=true):

<img width="1093" alt="Screen Shot 2021-07-26 at 3 59 36 PM" src="https://user-images.githubusercon

[2021-07-26 20:09] peterbe commented on #43
Instead of looking for milliseconds within the script, perhaps the best bet is to cache the whole `virtualenvs` folder. Something similar to how we're doing with the actual `.venv` which we later use `poetry` for creating.

[2021-07-26 20:18] miigotu commented on #43
Also cache `$(pip cache dir)` that way poetry and dependencies are cached and don't need to be downloaded.

[2021-07-27 02:42] peterbe commented on #43
Sorry, how would that help `snok/install-poetry@v1.1.6`?
Does `snok/install-poetry` depend on `pip` (and its `pip cache dir`)?

I wasn't sure it there was something I missed so I tried it. Put in:

[code]
which I can see, clearly restores the pip cache (`~/.cache/pip` is the same as `$(pip cache dir)`).
But `snok/install-poetry@v1.1.6` still takes the same old time.

[2021-07-27 03:32] peterbe commented on #43
Perhaps you mean because `get-poetry.py` internally runs `python -m pip install virtualenv -t $tmpdir` which could use `pip cache dir`.
But either it's not working or it's not making any difference.

[2021-07-27 04:07] miigotu commented on #43
You have to let it cache it once, then the next time it will restore the cache it will be faster. Also, the ordering matters.

[2021-07-27 04:08] miigotu commented on #43
It also does pip install inside the venv.

[2021-07-27 08:45] sondrelg commented on #43
I guess there's a few things we could do:

1. We could try to cache the scripts we fetch
2. We could configure our workflows to run the `install-poetry` script faster, and
3. Could we somehow cache the entire installation?

To your point @peterbe I don't think point 1 is worth spending time on. I tried running a fresh install with the `install-poetry` script on my laptop and that took 12 seconds,

[2021-07-27 12:28] peterbe commented on #43
No, I tested that. I made sure that there was a commit such that the cache **retrieval** did work.

I think the fastest way to make something is to *avoid* the work.
Downloads from npmjs.com or pypi.org are usually very fast. Having the tarballs locally doesn't actually make a huge difference. What makes a HUGE difference is if you can cache the entire `node_modules` or `.venv` directories whole.

[2021-07-27 12:37] peterbe commented on #43
It certainly would. But isn't there some important environment variable set'ing that needs to happen too.
I actually have never understood how `install-python.py` works but it's not inconceivable that it does 2 things: creating a directory, and setting an env var (or something related to `$path`).

[2021-07-27 13:09] sondrelg commented on #43
I think all the script does in this context, is install the correct packages. The action needs to set the path variable, since `PATH` in Github actions works a little bit differently. See [this](https://github.com/snok/install-poetry/blob/main/scripts/v1.2/main.sh#L44) line 🙂

If caching the installation directory works, we probably wouldn't need to make any additional changes to the action itself

[2021-07-27 13:49] peterbe commented on #43
It worked!!

<img width="1171" alt="Screen Shot 2021-07-27 at 9 48 38 AM" src="https://user-images.githubusercontent.com/26739/127165396-66766ca3-4761-4807-aeaa-be8f2d780d14.png">

You can see it in action here: https://github.com/mdn/yari/runs/3172270869

The magic was to add this:

[code]

[2021-07-27 14:21] peterbe commented on #43
I'm so please with the result (and for the benefit of my own notes/memory), that I blogged about it: https://www.peterbe.com/plog/install-python-poetry-github-actions-faster
Hopefully this helps others that might stumble into this issue.

Wanna close it for now @sondrelg ?

[2021-07-27 16:00] sondrelg commented on #43
That's awesome @peterbe! I'll see if I can add this to the main readme so that other users can benefit as well 🚀 I might close this following that if you don't mind 🙂 Thanks for raising this and doing all the testing!

On a related note, I think Github Actions are releasing support for running actions within actions more or less as we speak ([this](https://github.com/actions/runner/commit/5281434f

[2021-07-27 16:09] peterbe commented on #43
The future is bright!

[2021-07-27 16:09] #43 closed

[2021-07-28 19:11] Sbozzolo opened #46 "`poetry install` stalls on ubuntu-latest"
I don't know if this action is the problem, but I am not exactly sure where else to look, and I've seen other reports of poetry stalling. I've used the action for hundreds of runs, but lately the "Install Dependencies" step has stopped working (example [here](https://github.com/Sbozzolo/kuibit/runs/3185120434) as the installation does not complete (and I have to stop the runner).

This is on ubunt

[2021-07-29 06:03] miigotu commented on #43
Question, is caching poetry's cache included in the readme? Sorry I dont have time to look:

[code]

[2021-07-29 06:25] sondrelg commented on #43
No I don't think we do 🤔 Please feel free to add an example @miigotu! 👏

[2021-07-30 08:37] sondrelg commented on #46
Hi @Sbozzolo!

Can you try to replace the action with a simple `pip install poetry`, then re-run with the action, and see if they behave differently?

Happy to help debug this 👍  but not sure there's much I can do to help you if it's a Poetry issue rather than an installation issue 🙂

[2021-07-30 15:25] Sbozzolo commented on #46
It looks like that the problem is still there ([see here](https://github.com/Sbozzolo/kuibit/runs/3203258642?check_suite_focus=true), so I the problem is somewhere else.

I'll close the issue, but if you have suggestions to find what's wrong, I'd love to hear them!

[2021-07-30 15:25] #46 closed

[2021-08-09 21:05] linkous8 commented on #39
Opted for an alternative approach to caching, I no longer need support for this

[2021-08-09 21:05] #39 closed

[2021-09-19 02:01] pbk0 opened #53 "Add support to install poetry plugins"
Poetry 1.2+ will now support plugins. It will be a good idea to support installing plugins if the poetry version is 1.2+.
That is by adding the below lines to the `main.sh` script:
[code]

[2021-09-19 07:21] sondrelg commented on #53
Thanks for bringing this up @pbk0 👏

I just have a few questions, in case you already know:

- What happens when you run `poetry plugin add <plugin>`? Does it make changes to the lockfile or does it start a process separate from the normal `poetry install`?
- How can I test plugin installation locally? I tried this, without luck:

[code]

[2021-09-19 09:39] pbk0 commented on #53
Can you make sure if you have multiple poetry installations? (try `which/where poetry`)
Also, I am assuming the poetry installation is isolated. I faced some issues with stale poetry installations. So maybe clean things up and try `1.2.0a2`
Below script might be useful

[code]

[2021-09-19 10:03] sondrelg commented on #53
I think you were right about dual installations, got it to work now 👍

So the solution would just be something like specifying:

[code]

or

[code]

or

[code]

Where the `plugins` inputs should be parsed as a list, and installed in `main.sh` by running `poetry plugin add {parsed list}`?

That sounds doable 👍

Would you be interested in creating a PR for this @pbk0?

[2021-09-19 22:03] pbk0 commented on #53
Yes, it's doable. I will try and send you PR. Anyways the plugins are a new feature and don't expect it to stabilize soon.

[2021-10-01 09:47] JaimeLennox opened #54 "Unable to use '~' in virtualenvs-path from v1.2.0"
Hello!

We recently updated to v1.2.0 and found that our virtualenvs were being put in the wrong place; instead of `~/.cache/virtualenvs` they were being put into `<project-dir>/~/.cache/virtualenvs`.

Our action looked like this:

[code]

I did a bit of investigation and I think this is due to the github input being directly quoted: https://github.com/snok/install-poetry/blob/main/action.yml#L62,

[2021-10-01 09:52] sondrelg commented on #54
Thanks for reporting this @JaimeLennox 👏

Yes I agree we should fix this. Would you be interested in trying to create a PR with a fix? Think we would need a test-case in the [test workflow](https://github.com/snok/install-poetry/blob/main/.github/workflows/test.yml) and an appropriate change in logic and that should be it 🙂

If you don't have time, I'll most likely fix this over the weekend!

[2021-10-01 12:40] willfrey opened #55 "poetry config unaffected by action inputs"
I'm a novice with GitHub Actions, so let me preface this by saying that this issue could be entirely on my end :)

Anyways, I'm seeing that `virtualenvs.in-project` is always set to `true` when I run `poetry config --list` as a run action despite the default value for the action input `virtualenvs-in-project` being `false`. I've also noticed that setting the non-local config in a subsequent action

[2021-10-01 12:57] sondrelg commented on #55
Thanks for reporting this @willfrey 👏

We might be loading in some of the inputs incorrectly. I only ever install venvs in-project, since they're simpler to cache, so I've never actually tried setting it to `false`, and I don't think we have a test for it.

This might be related to the new quoting of inputs mentioned in #54.

Wrt. setting config options in subsequent steps - it's entirely possible

[2021-10-01 13:00] willfrey commented on #55
I can fiddle around with it and if I figure it out, I can submit a PR. But if you have time over the weekend, please don't wait for me 🙂

FWIW, the default settings are fine for me and I agree that having the virtualenv inside of the project is easier for caching.

I was just seeing how the inputs would affect the VENV environment variable as a means of understanding GitHub Actions syntax better.

[2021-10-01 13:04] sondrelg commented on #55
Yeah no worries, happy someone's experimenting, because I'd never have found out about this myself 😛

The scripts folder is legacy. Made some sub-optimal choices design-wise in v1.0 and v1.1. Those versions curl the config script from this repo's main branch, so removing them will break the action for anyone running those versions 😵‍💫

[2021-10-01 13:08] JaimeLennox commented on #54
Thanks for the quick response! I'll probably not have time today but might be able to take a look next week if you haven't got to it by then already 😄

[2021-10-01 17:43] willfrey commented on #55
I won't be able to submit a PR to fix this issue (since I'm not making much progress 😓) but I will open another PR that fixes a few minor things like updating  `LATEST_POETRY` to be 1.1.10 and fixing some cosmetic whitespace.

[2021-10-01 20:10] sondrelg commented on #54
I'll take a look at it then 👍  Looks like the problem is probably what you said, re https://github.com/koalaman/shellcheck/wiki/SC2088

[2021-10-01 20:34] sondrelg commented on #55
#57 seems to fix the issue with config arguments not being set correctly.

In regards to setting config options in subsequent steps, I tried replicating the issue in https://github.com/snok/install-poetry/runs/3771474449?check_suite_focus=true, but was unable to do so. Do you have a sample of what your action looked like when you saw the issue @willfrey? 🙂

[2021-10-01 20:36] willfrey commented on #55
Let me copy that snippet into my little sandbox repository and try it out to see what's going on before I send you on a fool's errand :)

[2021-10-01 20:40] sondrelg commented on #55
Much appreciated 👏

[2021-10-01 20:48] sondrelg commented on #54
I released a new version now @JaimeLennox. If you get time, please let me know whether it resolved your issue 🙂

[2021-10-01 22:03] willfrey commented on #55
https://github.com/willfrey/learn-github-actions/runs/3772228198?check_suite_focus=true

Check this guy out. `virtualenvs.in-project` seems to fail to be set.

[2021-10-01 22:25] sondrelg commented on #55
Huh, yeah that's odd. Might take another look tomorrow 🙂

[2021-10-02 11:05] sondrelg commented on #55
So I tried replicating it once again in https://github.com/snok/install-poetry/runs/3775961027?check_suite_focus=true.

Your workflow is

[code]

and I set up this:

[code]

As far as I can tell, they both use the same action version, and they both try to change the same config setting in the same way, with the same syntax; yet, yours failed and mine worked 🤔

To be certain there's nothing weird a

[2021-10-02 22:17] willfrey commented on #55
Perhaps try yours by naming your repository explicitly instead of ./?

[2021-10-02 22:18] willfrey commented on #55
I'm also running the setup Python action before I run your action, so I'm not sure if that matters.

[2021-10-02 22:44] sondrelg commented on #55
The run at https://github.com/snok/pep585-upgrade/runs/3775986917?check_suite_focus=true does the same 🤔 It runs `v1` rather than `v1.2` but they should also point to the same release.

[2021-10-04 07:46] JaimeLennox commented on #54
Yep, looks good! Working perfectly, thanks 😄

[2021-10-04 07:46] #54 closed

[2021-10-04 13:22] willfrey commented on #55
Still appears to not be setting it for me [on this run.](https://github.com/willfrey/learn-github-actions/runs/3791383726) Strange, right?

I also find it curious that the _default_ setting for `virtualenvs.in-project` is `true` even though I believe your default is `false`, as is poetry's default.

[2021-10-04 19:43] sondrelg commented on #55
Doesn't replicate unfortunately. I created a test-repo with your exact workflow here: https://github.com/sondrelg/issue-55/runs/3795650618?check_suite_focus=true.

Are you running on self-hosted runners or something?

[2021-10-05 10:51] willfrey commented on #55
Nope, just the default GitHub ones. I'll try making a new repo. Maybe it's some cache issue?

[2021-10-20 21:23] sondrelg commented on #55
Did you make any progress on this @willfrey? 🙂 I'll close this for now, since I've not been able to reproduce, but feel free to get back to me with any new info 👍

[2021-10-20 21:23] #55 closed

[2021-11-18 19:45] mario-bermonti opened #59 "Question: Can it install poetry from a specific commit?"
There is currently an error with poetry on Windows and the fix has not been integrated into released version.

The current recommendation is to install using:
`curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python - --git https://github.com/serverwentdown/poetry.git@1.1-fix-cache-on-windows`

Would something like this be possible with this action?

[2021-11-18 21:33] sondrelg commented on #59
Line 46 and 48 here is where we install poetry via the script we curled: https://github.com/snok/install-poetry/blob/main/action.yml#L48

I suppose it would be possible to add a `**kwargs` style solution where users can append any extra commands they desire - that might solve future use-cases while we're at it.

Would you be interested in opening a PR for this?

[2021-11-20 21:20] mario-bermonti commented on #59
That sounds good. I’m going to have a go at it and I’ll get back to you.

I’m a newbie at contributing to other people’s project so bear with me 😂

[2021-11-21 08:18] sondrelg commented on #59
If you have any questions, just let us know here 👍 [This](https://github.com/snok/.github/blob/main/CONTRIBUTING.md) document might also help you get started.

[2021-11-23 21:23] #59 closed

[2021-11-23 21:29] sondrelg commented on #59
Release v1.3.0 should be ready now @mario-bermonti, if you want to test it 👍

[2021-11-24 15:20] mario-bermonti commented on #59
Awesome! I'll test it soon.

[2021-12-13 04:59] RackReaver opened #61 "Running on windows doesn't link"
Links to `#windows` but should link to `#running-on-windows`.

I can go ahead and make the change or someone else can too, just want to throw it out there.

![image](https://user-images.githubusercontent.com/17041798/145754788-9f51b646-28a7-4779-b927-6d17776baf21.png)

[2021-12-13 08:28] #61 closed

[2021-12-13 17:00] NixBiks opened #64 "Monorepo"
Hi @sondrelg

This looks very neat - I like it! Nice, simple and flexible API you provide.

One question; do you know if this can be tweaked for a monorepo with multiple python applications?

[2021-12-13 17:10] mr-bjerre commented on #64
I guess a simple approach could be something like this (note all `project-1`)

[code]

But this would require us to hardcode every python app and repeat those steps.

[2021-12-13 17:27] sondrelg commented on #64
Yeah I don't see any issues with this. You'll always need to either have some dynamic inference of your project structure or hardcode it - I think just hardcoding it will be easier to maintain most of the time.

With respect to your second caveat about installing Poetry several times; this doesn't have to be true actually 🎉 If you add a cache-step just before you `install-poetry` step we can actua

[2021-12-13 17:31] mr-bjerre commented on #64
Thanks for quick reply!

Yes of course; just cache poetry. And yeah my aim would be to run all tests for all apps every time.

Did you see my last comment in my last post btw? Regarding the venv cache key.

[2021-12-13 17:46] sondrelg commented on #64
Would you want to install separate dependencies per sub-app? If so you'll need to set a unique cache key per environment, so maybe just add `${{ matrix.python-dir }}-${{ hashFiles('**/poetry.lock') }}` to the identifier. That should make it so you re-install dependencies every time your lockfile changes, once per environment.

All the cache key does is decide whether to start fresh or not, that's

[2021-12-13 17:48] mr-bjerre commented on #64
Makes perfect sense thanks! I'll test this soon (today or tomorrow hopefully) and then close.

Thanks for your help

[2021-12-13 17:58] mr-bjerre commented on #64
Actually; won't `${{ hashFiles('**/poetry.lock') }}` change anytime any poetry.lock file changes? We only want it to change when the specified sub app changes. Hmm

[2021-12-13 18:21] sondrelg commented on #64
Yes that's correct. It generates string of the checksum of the lockfile. Leave it out if you don't want to rebuild when that file changes 👍

[2021-12-13 18:24] mr-bjerre commented on #64
No I think you misunderstood. The issue is that it generates a hash based on all poetry.lock files. Not just the relevant lock file. Right?

[2021-12-13 18:55] sondrelg commented on #64
Well, you can alter the path as needed. I think `'**/poetry.lock'` will match any poetry.lock, but I guess you can use relative paths without wildcards. I haven't done this myself, but should work.

[2021-12-13 19:05] mr-bjerre commented on #64
yeah exactly I was just wondering if you knew how to use the relative path. I think this might work

[code]

[2021-12-13 20:20] #64 closed, assigned to nobody

[2021-12-21 10:48] pranasziaukas opened #65 "Not working with pyhon 3.10?"
I'd like to run tests with a Poetry environment and python 3.10.
My `pyproject.toml` also enforces this python version
[code]

I grabbed the example from the README (with very minor modifications) and expected it to work:
[code]

The "Print info" step is there just for troubleshooting. It returns:
[code]

Even though there is python 3.10.1 up and running, it is clearly not picked up by Poetry.

An

[2021-12-21 10:57] sondrelg commented on #65
Hi @pranasziaukas, thanks for submitting the issue.

I don't think there's any issues running this on Python 3.10, but your virtual environment looks out of sync.

What happens if you make this change?

[code]

[2021-12-21 12:07] pranasziaukas commented on #65
It works now @sondrelg, thank you.

I had not committed the `poetry.lock` file and did not immediately realize that it was used for the caching mechanism. It makes sense now. Cheers!

[2021-12-21 12:07] #65 closed

[2022-02-04 14:00] connortann commented on #53
May I ask about the status of this feature? I see the issue was closed, but I'm not sure if the feature was implemented.

PS - thanks for creating this plugin. I'm a recent convert to the Poetry ecosystem, it's awesome.

[2022-02-04 16:44] sondrelg commented on #53
The feature was not implemented, so re-opening 👍  I don't have time to implement this currently, but a PR is very welcome 🙂

[2022-02-04 17:20] connortann commented on #53
I'd be happy to attempt a PR!

Quick question: what is the purpose of `main.sh`, should that be updated too? It appears to duplicate the installation script in `action.yml` , and I'm not sure where/if it gets called in the GitHub Action.

Apologies for my ignorance, I'm fairly new to GH actions.

[2022-02-14 17:32] connortann opened #72 "Trouble using poetry plugins with poetry 1.1"
Hi,

It seems that when Poetry is installed with this action, other plugins such as [poetry-dynamic-versioning](https://github.com/mtkennerly/poetry-dynamic-versioning) do not function as expected. From [this previous issue](https://github.com/mtkennerly/poetry-dynamic-versioning/issues/61), it looks like the extensions do not function when Poetry is installed with `install-poetry.py`.

Hopefully

[2022-02-14 18:23] sondrelg commented on #72
Do you know if the problem persists if you use the new installation script kept [here](https://github.com/python-poetry/install.python-poetry.org)? I've been meaning to update the curl path to this, so if that resolved this, that would be convenient 😄

The linux path you're after should otherwise be `/Users/runner/.local/bin/pip` if you install Poetry with this action, on a Github actions ubuntu r

[2022-02-14 18:25] connortann commented on #72
Thanks, We'll see if we can get it working with that pip path and will let you know.

Yes, I think an output variable would be very useful!

[2022-02-16 15:33] maitham opened #73 "Caching doesn't work"
Using the recommended settings caching does not work, it seems like things are cached correctly but calling source .venv/bin/activate results in a file not found error

[code]

[2022-02-16 21:31] maitham commented on #73
Unfortunately not :(
<img width="945" alt="image" src="https://user-images.githubusercontent.com/15156137/154360454-5c0629c0-824d-4c9c-9187-0774cf55a878.png">

[2022-02-16 21:32] maitham commented on #73
Whats strange is running the following step, before `source .venv/bin/activate` works. But this just installs the dependencies again, which we're trying to avoid.

[code]

[2022-02-16 22:17] sondrelg commented on #73
If you have the opportunity to create a demo project or some reproducible example that would help me a lot. Otherwise, maybe it would be helpful to sprinkle in a few `ls` statements to get a sense of where the venv is located relative to your working directory.

[2022-02-18 17:05] ethteck opened #74 ".venv/scripts/activate: No such file or directory on Windows"
Hi! thanks for your github action. I unfortunately am having trouble getting it to work on windows...perhaps I'm missing something simple, but I've fiddled with stuff and can't seem to get it.

Failure log:
https://github.com/decompme/decomp.me/runs/5250900347?check_suite_focus=true

Work-in-progress pr.yml with the windows section highlighed: https://github.com/decompme/decomp.me/blob/334938e96d0

[2022-02-18 23:32] sondrelg commented on #74
Looks like it is creating a venv at `D:\a\decomp.me\decomp.me\backend\.venv`. Is `D:\a\decomp.me\decomp.me\backend\` your working directory, and what does `ls D:\a\decomp.me\decomp.me\backend\.venv` output?

[2022-02-19 16:01] miigotu commented on #73
You should restore your cache before installing poetry

[2022-02-21 10:40] ethteck commented on #74
Ahhh I see. I thought the venv was not in the working directory. I was able to solve my immediate issue by just installing poetry through pip on Windows...but I'll follow-back up with this if we decide to standardize and use a build matrix. Thanks :)

[2022-02-21 10:40] #74 closed

[2022-03-24 16:35] chanansh opened #75 "settings.virtualenvs.in-project does not exist"
see https://stackoverflow.com/questions/62029371/python-poetry-error-setting-settings-virtualenvs-in-project-does-not-exist

[code]

[2022-03-25 12:18] sondrelg commented on #75
Are you saying you're unable to run the action with Poetry v1 or above? Can you add your workflow specification?

[2022-03-26 01:58] miigotu commented on #75
I agree that the prefix is not needed (or allowed) in 1.0.4 or so +

I can pip install some different poetry versions later in clean environments to verify.

I've been using something like this for awhile:
[code]

https://python-poetry.org/docs/configuration/#virtualenvsin-project

[2022-03-26 04:13] miigotu commented on #75
@chanansh are you sure you aren't setting that yourself in the workflow?

In this project, it is called like this:
[code]
where `$venv_in_project` is true or false, determined by your setting in the `with` parameter on the workflow.

This is how it is done:
[code]

[2022-04-03 09:03] #73 closed

[2022-04-09 19:14] #75 closed

[2022-04-09 20:50] Gobot1234 opened #79 "Support for dependency groups"
Is there currently support for https://github.com/python-poetry/poetry/issues/1644 if not could it be added?

[2022-04-09 23:59] miigotu commented on #79
This action just installs the poetry tool

[2022-04-10 00:01] Gobot1234 commented on #79
So `poetry install --with ...` should be ran inside a separate step?

[2022-04-10 05:19] miigotu commented on #79
Yes, this action just installs poetry itself. Then you would restore your virtualenv if you cached it and run poetry commands.

[2022-04-10 09:04] Gobot1234 commented on #79
Ok thank you for the clarification

[2022-04-10 09:04] #79 closed

[2022-04-29 15:34] Anselmoo opened #81 "Correct virtualenvs-path for caching"
I am wondering if  `virtualenvs-path: .venv` is missing? Following the example, only by setting `.venv` allows using the cache.

_So it actually looks like:_

[code]
https://github.com/snok/install-poetry/blob/2d5fc9c6ebc5598ab457df508f02aacae318ae92/README.md?plain=1#L111-L126

[2022-04-29 19:30] Anselmoo commented on #81
@sondrelg thx for quick response. You are right!
However, only be actively using the command, GitHub Action has used the cached.

Anyway, I am not able to figure out the reason ... 😞

[2022-04-29 19:30] #81 closed

[2022-04-29 19:33] sondrelg commented on #81
Ok that's strange 🤔 I've used this configuration in a few projects at least, so I'm pretty confident it works most of the time. Feel free to re-open if you get to the bottom of it 👍

[2022-04-29 21:58] miigotu commented on #81
You can use any path you like. If you set the path you don't need to set `virtualenvs-in-project: true`, it will have no effect.

The trick is to set the path to cache by using `poetry config` to get the location for sure.

[2022-05-05 13:27] connortann opened #82 "Issues with cached poetry installation: bad interpreter, no such file"
Hi,

I've followed the instructions in the README for caching the poetry installation. It has been working well for several weeks, but recently has started failing with an error "bad interpreter: no such file or directory".

### Our CI steps

https://github.com/bp/resqpy/blob/49f99ad3f135fde650cdd1959a9fdc1c6cbd3424/.github/actions/prepare-poetry/action.yml#L14-L30

[code]

### Example failed job:

[2022-05-05 13:28] sondrelg commented on #82
Think this is a Github actions cache issue. It happens to me every few weeks 👍

[2022-05-05 13:29] connortann commented on #82
Huh! Strange. Do you have any recommendations for preventing this failing in future, other than incrementing the cache?

[2022-05-05 14:31] sondrelg commented on #82
Was on my way out and answered a little more briefly than I should have; what I should have said was:

I'm not exactly sure what happens, but it seems like the cache expires or something alone those lines. I don't think it has anything to do with Poetry, as Poetry in this equation is only the tool we use to generate and configure our virtual environment. The storing of the venv is wholly the respo

[2022-05-05 17:44] maitham commented on #73
@sondrelg This still does not fix it!

[2022-05-05 17:44] maitham commented on #73
[code]

[2022-05-06 00:56] miigotu commented on #73
Can you use something like `path: "$( poetry env list --full-path | grep Activated | cut -d' ' -f1 )" ` for the cache? Maybe you need the full path of the venv if your runner cwd is different.

[2022-05-06 01:01] miigotu commented on #82
I think if you specify your python version explicitly rather than 3.x, and set a new restore key for the cache your problem will go away. When you have one version of python installed and create an environment with that, and then a new python is added to GitHub actions your env breaks. Set 3.9.12 for example in your inputs.

[2022-05-06 06:59] sondrelg commented on #82
Yeah that makes sense. Thanks @miigotu, I'll update my workflows too 😄

[2022-05-06 08:16] connortann commented on #82
Thanks @miigotu and @sondrelg for the tips, I'll do as you suggest!

[2022-05-06 08:16] #82 closed

[2022-05-06 08:35] JonasKs commented on #82
Awesome, thanks @miigotu 😊

[2022-07-14 08:39] dclimber opened #83 "Use this Github action in Gitlab CI"
Hey, would it be possible to publish this action to Docker Hub?

If the action is published to Docker Hub, then it is possible to use in Gitlab CI.
The details are outlined in this article: https://tomasvotruba.com/blog/how-can-we-use-github-actions-in-gitlab/

If you don't mind, then I can make a PR for it :)

[2022-07-14 16:10] trallnag opened #84 "Why is `poetry install` executed two times in the examples?"
I'm referring to this section in the examples:

[code]

Why is it necessary to additionally call `poetry install --no-interaction --no-root` when a cache has been restored? Why is a single `poetry install` not enough in this case?

Thanks in advance for helping me and maybe other people understand this a bit better

[2022-07-14 16:14] sondrelg commented on #84
If you run `poetry install --help` you'll see:

  dependencies and not including the current project, run the command with the
  --no-root option like below:

I guess the rationale here is that most projects do not need to install the current project. Most only use poetry for dependency management.

If this is not the case, you might want to run `poetry install --no-interaction` afterwards - but i

[2022-07-14 16:55] trallnag commented on #84
Ah, I see. Thanks for the explanation. Therefore I will simply drop the second statement and the `--no-root` from the first statement (even though I currently don't need to install the project itself.

Wonder in what scenarios it makes a difference. Maybe when the project has a CLI and I want to run the CLI directly in the pipeline?

[2022-07-14 17:39] sondrelg commented on #84
I guess anytime you're in a project where installing the local code is not required, it will be faster to pass `--no-root` 👍 If you're writing a CLI or another python package it might be useful to install it to test your application, etc.

But tbh the performance benefit you get from dropping the `--no-root` probably doesn't matter for 99.9% of projects 🤷

[2022-07-20 07:40] tibbe opened #85 "Document the relationship to actions/setup-python poetry caching"
The official actions/setup-python action supports poetry caching (https://github.com/actions/setup-python#caching-packages-dependencies). It would be nice to document how to use this action in combination with that. For example, do they use the same cache directories by default? Should this action be run before or after setup-python?

[2022-07-20 07:41] sondrelg commented on #85
Cool, that's a nice new feature then 😊 Would you be interested in opening a PR for this?

[2022-07-30 22:21] PhilippWillms opened #86 "PyTest not recognized in Github Action Workflow with poetry 1.2.0b3"
Hello,

I upgraded my local dev environment from peotry 1.1.14 to poetry 1.2.0b3, as this version contains many bugfixes and useful enhancements. Accodingly, I adjusted the .yml configuration in my private GitHub repo for the CI-CD pipeline.

While the poetry installation works fine, there is an issue with pytest. See the details below.

What I changed is simply the `with version:` part of the `sn

[2022-08-01 07:54] sondrelg commented on #86
Could you replace the last line with this and report back?
[code]

[2022-08-02 05:47] miigotu commented on #86
Might be better if you always want to use bleeding edge to set the INSTALLATION_ARGUMENTS environment variable.

[code]

[2022-08-02 05:49] miigotu commented on #86
Might be better if you always want to use bleeding edge to set the INSTALLATION_ARGUMENTS environment variable.

[code]

Also, you don't need to use poetry run, the environment is already activated.
[code]

[2022-08-02 20:42] PhilippWillms commented on #86
The bleeding edge parameter is a good idea, but slo bears the risk of unwanted side-effects in future releases. Therefore thanks for the hint, but not implemented now.

After a lot of debugging (unfortunately in live syystem, not with act.exe as this did not work out properly), the configuration below was successful. At the end of the day, it was the property setting `virtualenvs-in-project: false

[2022-08-02 20:42] #86 closed

[2022-08-05 08:06] MrTeferi opened #88 "Venv procedure Windows in README"
The Venv procedure outlined in the README for using a matrix that includes windows is incorrect.
For windows it would be ".venv/scripts/activate", if you precede that with "source" it will throw an error that there's no command named source. This makes using `source $venv` with a windows workflow impossible unfortunately. Maybe just include "source" in the `$venv` variable and exclude it for windo

[2022-08-05 08:18] sondrelg commented on #88
I'm pretty sure `source` works if you remember to set the shell as `bash`, no?

[2022-08-05 08:47] MrTeferi commented on #88
Could you give me an example workflow for how to do this? I'm still pretty new to workflows, I ended up just eliminating venv from my workflow altogether, but I'm trying to do a workflow that builds an executable for windows, macos, and linux with pyinstaller, you can see my current implementation here (also uses poetry):
https://github.com/MrTeferi/MTG-Art-Downloader/blob/main/.github/workflows/b

[2022-08-05 09:32] sondrelg commented on #88
It's described pretty well [here](https://github.com/snok/install-poetry#running-on-windows) I think. You just need to add the `defaults` entry in your workflow file around like 10-11 I think

[2022-08-09 09:31] MrTeferi commented on #88
Oh yeah I see the line! I'll give that a shot, thanks!

[2022-08-31 09:53] deronnax opened #89 "install-poetry breaks with Poetry 1.2.0"
Poetry 1.2.0 changes a lot of things about how path and virtualenvs are handled, and it breaks install-poetry:
[code]

[2022-08-31 10:01] sondrelg commented on #89
Would you mind sharing your workflow configuration (just the install-poetry step)?

I don't think it breaks the action. AFAICT lockfiles generated by < 1.2 are incompatible with 1.2 and vice versa, so if your lockfile was generated with `1.1.X` you need to specify a `1.1.X` version in your action run.

[code]

Should work, while

[code]

Will not.

Does that make sense, or do you think it's broken

[2022-08-31 10:09] deronnax commented on #89
Hello :)
I pasted the output of the action (and then you have the action's configuration as well). It's the poetry command itself that is not found. See the original message.

[2022-08-31 10:13] sondrelg commented on #89
Ah yes. And I see you've specified latest as the version. Does it work if you change it to 1.1.14?

[2022-08-31 10:54] deronnax commented on #89
Yes

[2022-08-31 10:56] sondrelg commented on #89
Ok great. If you want to use 1.2.0 in your github actions run you first need to upgrade Poetry to 1.2.0 locally, then run `poetry update` or `poetry lock --no-update` to make the file compatible with 1.2.0 in the workflow run. After doing that, upgrading to 1.2.0 in the action should work.

[2022-08-31 11:50] deronnax commented on #89
Hello. You got it. Sorry I should not have cut the Github Actions output: the error we get is `poetry: command not found`. You can see this error (somewhat hidden) in GHA output. I think Poetry 1.2.0 changed the location where poetry is installed.

[2022-08-31 12:39] sondrelg commented on #89
I see. That's unfortunate if that's the case. I'm not able to look at this right now, but PRs are welcome 👍

[2022-08-31 14:52] fritz-astronomer commented on #89
Also seeing this issue 👍

[2022-08-31 17:25] fritz-astronomer commented on #89
https://github.com/snok/install-poetry/issues/89

[2022-08-31 20:59] sondrelg commented on #89
I added two comments in the PR, but would be good to get your take too @deronnax. I tried updating two projects to Poetry version 1.2.0, and neither one had any problems running the action. Just to understand what is broken, what is different between these two workflows and yours?

- https://github.com/snok/flake8-type-checking/runs/8122396279?check_suite_focus=true
- https://github.com/snok/asgi-

[2022-09-01 09:19] deronnax commented on #89
@sondrelg no clue, our workflow is pretty standard, my bet is that it's all related to the dropping of Python 3.6 from Poetry 1.2.0. We will pin the Poetry version and wait until we move to the next python version to see if it reproduces, which I bet it won't.

In between, thank you very much for your time

[2022-09-01 09:39] ronlut commented on #89
To avoid the brownout, add the following to the poetry install step until you upgrade to 1.2.0
[code]

[2022-09-01 14:29] miigotu commented on #89
https://endoflife.date/python

Projects are dropping python3.6 because it is no longer considered secure. Tools and libraries dropping support forces OS distributions to release newer, supported versions of python on their platform. This is a good thing, because it is intended to result in a more secure internet and better safety for user's machines.

[2022-09-01 20:28] sondrelg commented on #88
Did you manage to get this working @MrTeferi?

[2022-09-01 20:29] sondrelg commented on #83
Is this no longer needed @dclimber ?

[2022-09-11 06:31] amirhessam88 commented on #89
I guess you gotta make sure to have
[code]
More on --> https://github.com/python-poetry/poetry/blob/master/pyproject.toml#L47

[2022-09-18 21:03] miigotu commented on #83
If it isn't already done, I might be able to take a crack at it in a few days.

[2022-09-18 21:05] miigotu commented on #88
I test on windows and calling activate manually is unnecessary. After poetry is run, the env is automatically activated in the workflow

[2022-09-19 13:34] sondrelg commented on #88
In that case, I guess we can consider this closed. Thanks @miigotu 👍

[2022-09-19 13:34] #88 closed

[2022-09-29 16:16] Musaefendic commented on #89
Same issue here, but only with `macos-latest` ❌
On the other hand no problem with `windows-latest` and `ubuntu-latest` ✅

Here is the link to the yml file: https://github.com/Musaefendic/icao-emissions/blob/96d41895570a1aefe21cab13f32f906f44d6f6ab/.github/workflows/tests.yml

[code]

did I set up my .yml wrong?

[2022-09-29 16:25] amirhessam88 commented on #89
@Musaefendic is it your intention not using `poetry v1.2.1` ? I can see this https://github.com/Musaefendic/icao-emissions/blob/96d41895570a1aefe21cab13f32f906f44d6f6ab/.github/workflows/tests.yml#L48
You can drop the version and the `action` will automatically setup the latest version

[2022-09-29 19:43] Musaefendic commented on #89
good catch! It is an error after several unsuccessful attempts.
I just removed the line `version: 1.1.14` but the result is the same

✅ windows-latest and ubuntu-latest
❌ macos-latest

i got the same error:
[code]

[2022-09-29 20:10] miigotu commented on #89
I wonder if your action is caching a really old version 1, and it's not using the newest version.

Maybe try `uses: snok/install-poetry@v1.3.1`

You can also try activating it manually

[2022-09-29 20:16] miigotu commented on #89
@Musaefendic also, restore venv cache BEFORE installing poetry.

[2022-09-29 20:22] miigotu commented on #89
And if it still doesn't work I'd start with
[code]

[2022-09-29 20:36] miigotu commented on #89
And I'm most sure snok/install-poetry@lint could work, because he added the path to the final commands.

[2022-09-29 20:39] Musaefendic commented on #89
[code]

good intuition! if I delete `Load cached poetry installation`,  all workflows pass ✅
any idea how to purge the cache?

[2022-09-29 21:39] Musaefendic commented on #89
To clear the GH Actions cache, it's a new feature since June 22. See this SO post [https://stackoverflow.com/a/64819132](https://stackoverflow.com/a/64819132)

### Clearing the cache
[code]

### 1st CI Run after clearing the cache.
Link to my [tests.yml](https://github.com/Musaefendic/icao-emissions/blob/4b1df7c246eca763330cdabd369c7468480f2385/.github/workflows/tests.yml)
- ✅ ubuntu-latest
- ✅ ma

[2022-10-01 09:50] sondrelg commented on #89
I'm on holidays almost without internet for a few days, but should have time to review a PR if anyone has time to investigate :+1: Otherwise, I'll be happy to look at this on Tuesday 🙂

[2022-10-01 10:30] miigotu commented on #89
You could always use a different cache key or add a restore key that's different than what it's using now. Poetry version changed but your pyproject.toml didn't, so the next change to your pyprotect.toml would have done it also.

[2022-10-07 04:15] adam-grant-hendry opened #94 "Windows Latest on Python 3.8 Constantly Fails"
For some reason, Windows-2022 is now failing for me on Python 3.8 only:

[code]

[2022-10-07 04:19] sondrelg commented on #94
Thanks for the report. Does changing v1 to v1.3.1 (the previous release) fix the issue for you?

[2022-10-07 04:31] adam-grant-hendry commented on #94
@sondrelg How strange. Yes! That completely fixed it!

...What's happened from v1.3.1 to v1.3.2?

[2022-10-07 04:32] adam-grant-hendry commented on #94
Specifically, the error _only_ happened for Windows and version 3.8. MacOS and Linux on 3.8 worked and 3.9 and 3.10 on all OS's worked.

[2022-10-07 04:39] sondrelg commented on #94
We mostly just quoted env vars in the latest release. I'll add a test case for Windows later to see if I can reproduce.

Would you be able to share the relevant parts of your workflow to make that easier?

[2022-10-07 04:42] adam-grant-hendry commented on #94
@sondrelg It's a public repo, which makes it easier. Here's the link: https://github.com/adam-grant-hendry/qtpygraph

[2022-10-07 04:43] adam-grant-hendry commented on #94
@sondrelg Feel free to look at my workflows

[2022-10-07 05:07] miigotu commented on #94
@sondrelg
Probably should add python 3.8 back to the test matrix?
https://github.com/snok/install-poetry/compare/v1.3.1..v1.3.2?diff=unified#diff-faff1af3d8ff408964a57b2e475f69a6b7c7b71c9978cccc8f471798caac2c88R12

Also, there is an open bug about this script not working with windows:
https://github.com/snok/install-poetry/compare/v1.3.1..v1.3.2?diff=unified#diff-f121df8f1f148ef72415f98dd27089a0e6

[2022-10-07 05:10] miigotu commented on #94
Removing -sSL and adding `--ssl-no-revoke ` to the installer arguments supposedly fixes it.
https://github.com/python-poetry/poetry/issues/6117

[2022-10-07 05:14] miigotu commented on #94
Here it is: https://github.com/python-poetry/install.python-poetry.org/issues/46

[2022-10-07 05:24] adam-grant-hendry commented on #94
Interesting...that's been part of what was recommended previously for this action (i.e. to use `bash` and the default shell). @sondrelg isn't that true? Does this need to change going forward?

[2022-10-07 05:25] sondrelg commented on #94
Of course there's a regression specifically for 3.8 just as we remove it from the matrix 😅 It's a bit of a pain to have 20+ permutations of the basic install test, but I suppose this is a prime example of why it's worth having.

Yes @adam-grant-hendry, IIRC, removing the `bash` shell default on windows causes other problems. Not sure if they've gone away yet, but would be good to know.

Either way

[2022-10-07 05:27] sondrelg commented on #94
Surprisingly, CI doesn't fail when including windows 3.8 ([here](https://github.com/snok/install-poetry/actions/runs/3202445864/jobs/5231437435)) 🤔

[2022-10-07 05:30] miigotu commented on #94
If you add this to the test.yml it will fail
https://github.com/SickChill/sickchill/blob/test-deploy/.github/workflows/pythonpackage.yml#L27L29

[2022-10-07 05:32] sondrelg commented on #94
There is this already

https://github.com/snok/install-poetry/blob/main/.github/workflows/test.yml#L58:L60

Are you saying the location of the default specification matters?

[2022-10-07 05:32] adam-grant-hendry commented on #94
I'm perfectly fine sticking with `v1.3.1` right now. I don't have an immediate need to upgrade. I personally used `default: bash` only because it was easier to stick to one scripting language instead of having to switch back-and-forth between that and powershell.

Not sure I can say I know much about the `--ssl-no-revoke` option or how it works, but if it works I'm fine with it! 😆

[2022-10-07 05:33] adam-grant-hendry commented on #94
Looks like yours is specific to a job, whereas mine and @miigotu have ours for the entire workflow. Is that correct?

[2022-10-07 05:34] miigotu commented on #94
I'm guessing because that job isnt creating a venv (https://github.com/snok/install-poetry/blob/main/.github/workflows/test.yml#L117) it skips the bug

[2022-10-07 05:40] miigotu commented on #94
In that issue they said its only with msys bash on windows, I have to check OP logs but here it is git bash
https://github.com/snok/install-poetry/actions/runs/3202507531/jobs/5231559465#step:3:104

[2022-10-07 05:47] miigotu commented on #94
I wonder if it is him setting: `SHELLOPTS: errexit:pipefail` and we do that also, causing some weirdness? I dont see anything else really different with the environment.

[2022-10-07 05:54] sondrelg commented on #94
So far I've tried:

- Setting Python to 3.8.10 which is the version specifically used in the failing run above
- Added `SHELLOPTS` to env
- Tried setting windows-2022 instead of windows-latest

but so far nothing reproduces

[2022-10-07 05:57] sondrelg commented on #94
In the latest push to #95 I've added the `--ssl-no-revoke` command to main.sh.

@adam-grant-hendry, would you mind testing with `@94` instead of `v1.3.1` to see if that works for you?

[2022-10-07 22:30] sTomerG commented on #89
I'm having the exact same issue (exit code 127, only on macOS-latest) with the following workflow. Is there something I should change?

[code]

[2022-10-07 22:54] sTomerG commented on #89
fixed it by adding
[code]
And replacing
[code]
with
[code]

[2022-10-08 01:48] miigotu commented on #85
You would have to install this like normal, before setup-python and instead of using actions/cache you would set it in the setup-python and remove the actions/cache action.

Problem is, then poetry is installed using the default runner python, and I'm not sure yet how that works. I have it set just like above and it seems to be working, but I need to print out the python version poetry is using to

[2022-10-10 12:29] GuillaumeFalourd commented on #94
I was having with the same issue than @adam-grant-hendry in my workflow using:

[code]

and (after trying to update to the latest version) with:

[code]

After reading this thread and seeing the tests workflows @sondrelg shared, I used instead:

[code]

And the error didn't occur anymore 🤷‍♂️

[2022-10-10 12:42] miigotu commented on #94
We need to find the cause though. Can you try updating just one or the other of those? Aka is the problem here, or in poetry itself?

[2022-10-10 12:47] GuillaumeFalourd commented on #94
@miigotu: It worked on the windows-latest runner with the action version `1.3.1`, but **not** with the version `1.3.2` using poetry version `1.1.14`

[2022-10-10 13:13] sondrelg commented on #94
Then perhaps the changes made to https://github.com/snok/install-poetry/blob/main/main.sh#L38:L40 is the reason.

The thing we need to get to the bottom of this is a reproducible example of a failing workflow for v1.3.2. So far we haven't been able to reproduce the issue. Any ideas as to why not @GuillaumeFalourd?

[2022-10-10 13:32] GuillaumeFalourd commented on #94
I've got a workflow reproducing the error [here](https://github.com/GuillaumeFalourd/poc-github-actions/actions/runs/3219699229) using this [workflow implementation](https://github.com/GuillaumeFalourd/poc-github-actions/blob/main/.github/workflows/workflow-tester58.yml).

[2022-10-10 19:50] GuillaumeFalourd commented on #94
After making some tests in a fork, it seems the problem is coming from this commit [https://github.com/snok/install-poetry/commit/1218f0b98ae913ee2f2ad64868af8a3ca66511b9], by adding the `set -eo pipefail` line.

Just removing this line from the `main.sh` made the previous workflow which was failing working again: [evidence](https://github.com/GuillaumeFalourd/install-poetry/actions/runs/322193053

[2022-10-10 23:19] sondrelg commented on #94
Great, thanks for that! I'll do a little bit more testing, then see if we can release a fix in a few hours 👍

[2022-10-10 23:28] miigotu commented on #94
https://askubuntu.com/questions/1044280/set-eo-pipefail-not-working-in-windows-subsystem-for-linux-ubuntu-16-04

[2022-10-11 09:12] sondrelg commented on #94
Having had time to look at https://github.com/python-poetry/install.python-poetry.org/issues/46 @miigotu, I think they're saying git bash on windows runners are affected, so I think this is an upstream bug. The script target was changed a while back, but I hadn't released a new version until v1.3.2, so that's why this is happening.

Perhaps we should do a simple
[code]

What do you think?

[2022-10-12 01:26] sondrelg opened #99 "Make the action work on all Windows shells"
There should be a simple way to run an os-matrix, including windows, regardless of the shell you're running. We can detect which shell is running and adapt accordingly.

When we say "all" shells, I guess we actually only care about

- powershell
- bash
- cmd

And cmd might not be that important if we can't easily fix it, but powershell is the default and bash is what we've recommended in the past.

[2022-10-12 01:29] sondrelg opened #100 "Replace deprecated install script for Windows targets"
Following #94 and #98 we will merge back the old, no longer maintained (but working) installation script, and use that to install poetry for windows runners. That's only meant as a temporary measure until the [upstream issue](https://github.com/python-poetry/install.python-poetry.org/issues/46) is resolved.

When possible, we should remove the windows hack.

[2022-10-12 01:30] #94 closed

[2022-10-12 01:37] #89 closed

[2022-10-12 01:39] sondrelg commented on #72
We've updated the install script for mac and ubuntu runners so suspect this is resolved. Since we already have an open issue for general plugin support I'll close this for now. Feel free to reopen if you're still having problems.

[2022-10-12 01:39] #72 closed

[2022-10-13 11:32] cortadocodes commented on #99
I've had to revert to [`v1.3.2`](https://github.com/snok/install-poetry/releases/tag/v1.3.2) of this action to get it working again with Windows.

[2022-10-13 12:42] sondrelg commented on #99
What does your workflow looks like? That's unfortunate.

[2022-10-13 12:54] cortadocodes commented on #99
https://github.com/octue/octue-sdk-python/blob/feature/add-topic-and-subscription-creation-command/.github/workflows/python-ci.yml

[2022-10-13 13:41] sondrelg commented on #99
Can't see that there's anything wrong with the action. Your workflow should work on the latest if you set the shell to bash, as described [here](https://github.com/snok/install-poetry#running-on-windows) I think

[These](https://github.com/snok/install-poetry/actions/runs/3242757736/workflow) are the tests we're running, and everything seems good. If the action was broken for windows I think we'd

[2022-10-13 14:59] cortadocodes commented on #99
I tried setting the shell to bash as recommended:
- It fixed the `poetry check` step (`poetry` wasn't found as a commandlet before)
- But the tests in the `tox` step failed

Here are the workflow runs showing the failures - hope they help!
- [Using the latest version of `snok/install-poetry`](https://github.com/octue/octue-sdk-python/actions/runs/3241777438/jobs/5314170866#step:5:17)
- [Using the

[2022-10-13 17:48] miigotu commented on #99
You have to install poetry into the tox environment. However, and this might be a silly question, why are you using tox to run the tests when you are using GitHub actions and poetry? `poetry run pytest` or unittest or whatever is already going to run your tests in a python virtual envelope, and you can separate environments with a GitHub actions matrix.

[2022-10-17 10:06] cortadocodes commented on #99
I can do that if necessary but I didn't have to for any of the previous versions of `snok/install-poetry`. This is what's making me think there's a bug or a breaking change somewhere in the latest version.

We're still using `tox` because it allows us to test in other environments than a GHA worker if we need to and gives us more control than just using GHA. We are using a GHA OS matrix for MacOS,

[2022-10-17 14:36] miigotu commented on #99
There for sure is something broken right now. I just figured tox-poetry would be useful. If tox is configured to use an existing environment it could be a problem here, but if tox is creating the environment and then can't find poetry that's because tox is properly sandboxing the environment. Any tools you use inside the toxenv need to be installed by tox itself.

[2022-10-17 15:25] cortadocodes commented on #99
Ah I see, thank you! We're using tox with poetry whitelisted

[2022-10-24 09:44] tmbo opened #104 "Installation of poetry with python 3.9 is failing on latest github runner image"
Our builds started failing after a github runner image update.

On the github runner image Version: 20221018.2 the installation with snok/install-poetry leads to a non function poetry install. The install step does not fail, but poetry is not usable afterwards. Release notes of the github runner update: https://github.com/actions/runner-images/releases/tag/ubuntu20%2F20221018.2

The exact same wor

[2022-10-24 18:50] sondrelg commented on #104
The workflow seems to run fine here: https://github.com/sondrelg/issue-104/actions/runs/3315315838/jobs/5475752366 :thinking: Did I set it up wrong somehow?

[2022-10-25 08:07] tmbo commented on #104
Thanks a lot for jumping on this. I found the issue: the poetry installation is cached and for some reason it cached a broken installation - I am not sure why there was an installation broken, but in any case - this is the reason why it didn't work.

I'll close this one as the issue isn't your (great!) installer.

[2022-10-25 09:32] sondrelg commented on #104
I think I might know why actually. It used to break for me every time a new Python patch version came out for me. If you include `-${{ steps.setup-python.outputs.python-version }}` in your cache key it should clear the cache automatically in these cases :+1:

[2022-11-04 05:46] FeeeeK opened #105 "Error with cache on windows"
Hello, after restoring the cache of poetry installation on windows, this error occurs:
![image](https://user-images.githubusercontent.com/26704473/199899174-047adea5-1a84-4914-901f-647310b983e8.png)

But poetry definitely exists in that folder:
![image](https://user-images.githubusercontent.com/26704473/199899307-744889bf-1a10-4a48-a1c0-bd98beef1a32.png)

[2022-11-04 05:49] JonasKs commented on #105
Is the poetry/Python version the same combination as you’d expect in your cache?

Feel like we’ve seen this exact thing before, but I may be wrong.

[2022-11-04 05:50] JonasKs commented on #105
At, no it probably isn’t, a bit early in the morning and I didn’t read the error properly. 🥱

[2022-11-04 05:52] JonasKs commented on #105
Are you allowed to go directly to the `c`-path? Seems like poetry also acknowledges it’s already installed, but how you attempt to access it with a full path isn’t working.

[2022-11-04 05:52] FeeeeK commented on #105
This problem is only with windows, everything is normal on other operating systems
![image](https://user-images.githubusercontent.com/26704473/199900032-411e26d8-c2fa-4ce3-9d27-091dd10cbfba.png)

![image](https://user-images.githubusercontent.com/26704473/199899922-a7c546cd-8e93-4fd9-9ed5-bd706fb3ed1c.png)

[2022-11-04 05:54] FeeeeK commented on #105
https://github.com/FeeeeK/vkbottle/actions/runs/3391518585

[2022-11-04 10:19] sondrelg commented on #105
What happens if you update the cache key (e.g., by appending `-1` to the end of `key`). Does it work the first and second run?

I suspect this is related to https://github.com/snok/install-poetry/issues/104#issuecomment-1290263880

[2022-11-06 15:03] FeeeeK commented on #105
It works at first run, but fails after re-run

https://github.com/FeeeeK/vkbottle/actions/runs/3404825088/jobs/5662355031

![image](https://user-images.githubusercontent.com/26704473/200178390-15801b9d-6a60-44f9-9c67-312acbcb9b9a.png)
![image](https://user-images.githubusercontent.com/26704473/200178411-8edbda73-7965-45fa-be34-33bd3d9019e6.png)

[2022-11-06 21:06] sondrelg commented on #105
Gave it a crack, but wasn't successful https://github.com/snok/install-poetry/actions/runs/3405983224

After looking over the readme I see I wrote that "it just doesn't work" a while back ([ref](https://github.com/snok/install-poetry#caching-on-windows-runners)) 😄 so I guess this has never worked - at least not to my knowledge. Weird though.

If anyone wants to take a look at this, PRs are welcome

[2022-11-13 12:24] FeeeeK commented on #105
You need to set the default shell to bash
![image](https://user-images.githubusercontent.com/26704473/201521462-9b05b819-ffc5-496b-8757-2ef852800abd.png)

[2022-11-13 17:42] ajyoon commented on #105
@FeeeeK that did the trick, thank you!

[2022-11-25 06:39] Hongbo-Miao opened #108 "Native `setup-python` cache way"
`setup-python` supports Poetry cache natively now.
Maybe worth updating the readme! 😃

https://github.com/actions/setup-python#caching-packages-dependencies

[2022-11-25 08:15] sondrelg commented on #108
Would you be interested in creating a PR with updated docs @Hongbo-Miao? 🙂

[2022-11-28 04:40] Hongbo-Miao commented on #108
Hi @sondrelg my use case is quite simple.

I actually ended with

[code]

based on the demo here https://github.com/actions/setup-python/blob/main/docs/advanced-usage.md#caching-packages

[2022-11-28 09:35] sondrelg commented on #108
Great :slightly_smiling_face:

[2022-11-28 09:35] #108 closed